{% extends 'nevigation.html' %}
{% load static %}
{% block body %}

{% ifequal error "no" %}
<script>
    alert('Logged in successfully');
    window.location.href="{% url 'admin_home' %}";
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Invalid login credential , try again');
</script>

{% endifequal %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'images/admin.png' %}" class="img-thumbnail" style="width: 100%;">
        </div>
        <div class="col-sm-6">
            <h2 class="text-center">ADMIN LOGIN</h2>
            <hr>
            <p>enter your username and password to access admin page</p>
            
            <form method="post">
                {% csrf_token %}
            <label>USERNAME</label>
                <input type="text" class="form-control" placeholder="username" name="uname">
            <label>PASSWORD</label> 
                <input type="password" class="form-control" placeholder="Password" name="pwd">
                <br>
                <input type="submit" value="LOGIN" class="btn btn-primary"> 
            </form>
        </div>
    </div>
</div>

{% endblock %}