{% extends 'nevigation.html' %}
{% load static %}
{% block body %}
{% ifequal error "no" %}
<script>
    alert('Logged in successfully');
    window.location.href="{% url 'profile' %}";
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Invalid login credential , try again');
</script>

{% endifequal %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <h2 class="text-center">NEW STUDENT</h2>
            <hr>
            <p>By Creating An Account You'll be able to share notes of your college or school and also share it with your teachers and friends </p>
            <center><a href="{% url 'signup' %}" class="btn btn-danger text-white mt-5">CREATE AN ACCOUNT</a></center>
        </div>
        <div class="col-sm-6">
            <h2 class="text-center">USER LOGIN</h2>
            <hr>
            <form method="post">
                {% csrf_token %}
                <label>Email ADDRESS</label>
                <input type="email" class="form-control" placeholder="Enter Emailid" name="emailid">
                <label>PASSWORD</label> 
                <input type="password" class="form-control" placeholder="Enter Pass" name="pwd">
                <input type="submit" class="btn btn-danger mt-3" value="LOGIN"> 
            </form>
        </div>
    </div>
</div>

{% endblock %}