{% extends 'nevigation.html' %}
{% load static %}
{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <h2 class="text-center">EXISTING STUDENT</h2>
            <hr>
            <p>By Creating An Account You'll be able to share notes of your college or school and also share it with your teachers and friends </p>
            <center><a href="{% url 'userlogin' %}" class="btn btn-danger text-white mt-5">LOGIN</a></center>
        </div>
        <div class="col-sm-6">
            <h2 class="text-center">REGISTER</h2>
            <hr>
            <p>fill your details in order to signup</p>
            <form method="post">
                {% csrf_token %}
                <label>First Name</label>
                <input type="text" class="form-control" placeholder="firstname" name="firstname">
                <label>Last Name</label>
                <input type="text" class="form-control" placeholder="lastname" name="lastname">
                <label>Contact</label>
                <input type="text" class="form-control" placeholder="Contact" name="contact">
                <label>Email id</label>
                <input type="email" class="form-control" placeholder="email" name="emailid">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password" name="password">
                <label>Branch</label>
                <select class="form-control" name="Branch">
                    <option value="computer">computer science</option>
                    <option value="chemical">chemical engineering</option>
                    <option value="electronics">electronics engineering</option>
                    <option value="machenical">machenical engineering</option>
                </select>
                <label>Are you?</label>
                <select class="from-control" name="role">
                    <option value="student">student</option>
                    <option value="teacher">teacher</option>
                </select>
                <input type="submit" class="btn btn-danger mt-3" value="SIGNUP"> 
            </form>
        </div>
    </div>
</div>

{% ifequal error "no" %}
<script>
    alert('signup successful successfully');
    window.location.href="{% url 'userlogin' %}";
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('something went wrong , try again');
</script>

{% endifequal %}

{% endblock %}